02_chat_rag.json
{
  "name": "02 - RAG Chat (Gemini + Supabase)",
  "nodes": [
    {
      "parameters": {
        "path": "rag-chat",
        "responseMode": "responseNode"
      },
      "id": "webhook",
      "name": "Chat Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [200, 300]
    },
    {
      "parameters": {
        "jsCode": "return [{ json: { question: $json.body.question } }];"
      },
      "id": "extract",
      "name": "Extract Question",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [400, 300]
    },
    {
      "parameters": {
        "url": "https://generativelanguage.googleapis.com/v1beta/models/text-embedding-004:embedContent",
        "method": "POST",
        "jsonParameters": true,
        "queryParametersUi": {
          "parameter": [
            {
              "name": "key",
              "value": "={{$env.GEMINI_API_KEY}}"
            }
          ]
        },
        "bodyParametersJson": "={\n  \"content\": {\n    \"parts\": [\n      {\n        \"text\": $json.question\n      }\n    ]\n  }\n}"
      },
      "id": "embedding",
      "name": "Gemini Embedding",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [600, 300]
    },
    {
      "parameters": {
        "url": "http://localhost:54321/rest/v1/rpc/match_documents",
        "method": "POST",
        "jsonParameters": true,
        "headers": {
          "apikey": "={{$env.SUPABASE_KEY}}",
          "Authorization": "Bearer {{$env.SUPABASE_KEY}}",
          "Content-Type": "application/json"
        },
        "bodyParametersJson": "={\n  \"query_embedding\": $json.embedding.values[0],\n  \"match_threshold\": 0.7,\n  \"match_count\": 5\n}"
      },
      "id": "vector_search",
      "name": "Supabase Vector Search",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [800, 300]
    },
    {
      "parameters": {
        "jsCode": "const docs = $json;\n\nlet context = docs.map(d => {\n  return `來源: ${d.filename} (page ${d.page})\\n${d.content}`;\n}).join('\\n\\n---\\n\\n');\n\nreturn [{ json: { context } }];"
      },
      "id": "context_builder",
      "name": "Build Context",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1000, 300]
    },
    {
      "parameters": {
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash:generateContent",
        "method": "POST",
        "jsonParameters": true,
        "queryParametersUi": {
          "parameter": [
            {
              "name": "key",
              "value": "={{$env.GEMINI_API_KEY}}"
            }
          ]
        },
        "bodyParametersJson": "={\n  \"contents\": [\n    {\n      \"parts\": [\n        {\n          \"text\": \"你是一個企業知識庫助理。請根據 Context 回答問題。\\n\\n如果 Context 沒有答案，請回答：無法從知識庫找到答案。\\n\\nContext:\\n\" + $json.context + \"\\n\\nQuestion:\\n\" + $node['Extract Question'].json.question\n        }\n      ]\n    }\n  ]\n}"
      },
      "id": "gemini",
      "name": "Gemini Answer",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1200, 300]
    },
    {
      "parameters": {
        "responseBody": "={\n  \"answer\": $json.candidates[0].content.parts[0].text\n}"
      },
      "id": "response",
      "name": "Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1400, 300]
    }
  ],
  "connections": {
    "Chat Webhook": {
      "main": [
        [
          {
            "node": "Extract Question",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Question": {
      "main": [
        [
          {
            "node": "Gemini Embedding",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini Embedding": {
      "main": [
        [
          {
            "node": "Supabase Vector Search",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Search": {
      "main": [
        [
          {
            "node": "Build Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Context": {
      "main": [
        [
          {
            "node": "Gemini Answer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini Answer": {
      "main": [
        [
          {
            "node": "Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
